.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  font-size: 18px;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  list-style-position: outside;
}

.header__menu-link {
  text-underline-offset: 3px;
  white-space: nowrap;
}

.header__menu-item_active {
  list-style: none;
}

.header__menu-link--active {
  text-decoration: none;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.header__address {
  max-width: 235px;
  font-style: normal;
  line-height: 1.24;
  margin-left: 184px;
  text-underline-offset: 3px;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 50px 82px 50px;
  font-size: 18px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 264px;
  font-style: normal;
  text-underline-offset: 3px;
}

.footer__menu-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding-right: 20px;
  gap: 1px;
}

.footer__menu-link--active {
  text-decoration: none;
}

.footer__socials-list {
  display: flex;
  align-items: center;
  gap: 48px;
  list-style: none;
}

.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  background: url('../images/cover.jpg') center / cover no-repeat;
  padding: 165px 50px 50px 50px;
  color: white;
  gap: 106px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  font-size: 100px;
  font-weight: bold;
  line-height: 1.15;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.cover__title-line {
  display: block;
  margin-bottom: 20px;
  letter-spacing: 0.3em;
}

.cover__title-line:last-child {
  margin-bottom: 0;
}

.cover__title-line_left {
  text-align: left;
}

.cover__title-line_center {
  text-align: center;
}

.cover__title-line_right {
  text-align: right;
}

.cover__description {
  position: relative;
  display: flex;
  align-items: center;
  gap: 107px;
  z-index: 2;
}

.cover__description-subtitle {
  font-size: 22px;
  line-height: 1.2;
  word-spacing: 18px;
  text-transform: uppercase;
}

.cover__description-button {
  color: inherit;
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 32px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.lots {
  padding-block: 180px 120px;
  padding-inline: 24px;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  color: white;
  gap: 25px;
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  flex-grow: 1;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card {
  position: relative;
  height: 100%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  position: relative;
  z-index: 2;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  margin-top: 30px;
}

.lots__look-more-link {
  font-size: 20px;
  text-decoration: underline;
  padding: 30px 0 0 32px;
  color: inherit;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 72px;
  padding: 33px 24px 180px 71px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 101px 0 0 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  margin-top: 100px;
}
